# Server Config
PORT=8000
SERVER_DOMAIN=

# Teler Config
TELER_API_KEY=
TELER_SAMPLE_RATE=8k
SECRET=
TELER_CHUNK_SIZE=500

# VAPI Config
VAPI_API_KEY=
VAPI_ASSISTANT_ID=
VAPI_SAMPLE_RATE=8000
VAPI_MESSAGE_BUFFER_SIZE=50

# NGROK Config
NGROK_AUTHTOKEN=

# Others
NODE_ENV=production